In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer
df = pd.read_csv("spam.csv")
df

     Categorys                                            Message
0          ham  Go until jurong point, crazy.. Available only ...
1          ham                      Ok lar... Joking wif u oni...
2         spam  Free entry in 2 a wkly comp to win FA Cup fina...
3          ham  U dun say so early hor... U c already then say...
4          ham  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567      spam  This is the 2nd time we have tried 2 contact u...
5568       ham               Will ü b going to esplanade fr home?
5569       ham  Pity, * was in mood for that. So...any other s...
5570       ham  The guy did some bitching but I acted like i'd...
5571       ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
x = df["Message"]
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [ ]:
y = df["Categorys"]
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: Categorys, Length: 5572, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split 
train_X, test_X, train_y, test_y = train_test_split(x,y, train_size=0.5, test_size=0.5, random_state=0)
test_X

4456    Storming msg: Wen u lift d phne, u say "HELLO"...
690     <Forwarded from 448712404000>Please CALL 08712...
944     And also I've sorta blown him off a couple tim...
3768                  Sir Goodmorning, Once free call me.
1189    All will come alive.better correct any good lo...
                              ...
2383                      I will reach before ten morning
5495    Good afternoon, my love ... How goes your day ...
1886    I think asking for a gym is the excuse for laz...
3515    I always chat with you. In fact i need money c...
1446                          I am in a marriage function
Name: Message, Length: 2786, dtype: object

In [ ]:
cv = CountVectorizer()
train_X = cv.fit_transform(train_X)
test_X = cv.transform(test_X)

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf' , random_state =0)
classifier.fit(train_X,train_y)

SVC(random_state=0)

In [ ]:
from sklearn.tree import export_graphviz
import graphviz
graphviz.source(export_graphviz(classifier,feature_names = x.column,filled = True))